 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import './utilidades/variables';
@import './utilidades/mixin';

/*ESTILOS EN LIBROS*/

body{
    
main{
    @include icono;
    .flex-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        column-gap: 75px;
        box-sizing: border-box;
        padding: 1px;
        
        @for $i from 1 through 10 {
            .flex-item#{$i} {
                @extend .libro;
                background: url(../img/tapa-#{$i}.jpg) no-repeat center / cover;    
            }
        }
    }
}
}