/*ESTILOS EN LIBROS*/
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    column-gap: 75px;
    box-sizing: border-box;
    padding: 1px;
}

.flex-item {
    display: flex;
    flex: 0 1 100px;
    border: 1px solid #ccc;
    padding: 50px;
    margin-top: 20px;
    text-align: center;
    background: url(img/tapa-1.jpg) no-repeat center / cover;
    width: 25px;
    height: 250px;
}

.flex-item1 {
    display: flex;
    flex: 0 1 100px;
    border: 1px solid #ccc;
    padding: 50px;
    margin-top: 20px;
    text-align: center;
    width: 25px;
    height: 250px;
    background: url(img/tapa-2.jpg) no-repeat center / cover;

}

.flex-item2{
    display: flex;
    flex: 0 1 100px ;
    border: 1px solid #ccc;
    width: 250px;
    height: 250px;
    padding: 50px;
    margin-top: 20px;
    text-align: center;
    background: url(img/tapa-3.jpg) no-repeat center / cover;
    
    
}

.flex-item3{
    display: flex;
    flex: 0 1 100px;
    border: 1px solid #ccc;
    width: 250px;
    height: 250px;
    padding: 50px;
    margin-top: 20px;
    text-align: center;
    background: url(img/tapa-4.jpg) no-repeat center / cover;
    
}

.flex-item4{
    display: flex;
    flex: 0 1 100px;
    border: 1px solid #ccc;
    width: 250px;
    height: 250px;
    padding: 50px;
    margin-top: 20px;
    text-align: center;
    background: url(img/tapa-5.jpg) no-repeat center / cover;
}

.flex-item5{
    display: flex;
    flex: 0 1 100px;
    width: 25px;
    height: 250px;
    border: 1px solid #ccc;
    padding: 50px;
    margin-top: 20px ;
    text-align: center;
    background: url(img/tapa-6.jpg) no-repeat center / cover;
    
    

}

.flex-item6{
    display: flex;
    flex: 0 1 100px;
    width: 250px;
    height: 250px;
    border: 1px solid #ccc;
    padding: 50px;
    margin-top: 20px;
    text-align: center;
    background: url(img/tapa-7.jpg) no-repeat center / cover;
}

.flex-item7{
    display: flex;
    flex: 0 1 100px;
    width: 25px;
    height: 250px;
    border: 1px solid #ccc;
    padding: 50px;
    margin-top: 20px;
    text-align: center;
    background: url(img/tapa-8.jpg) no-repeat center / cover;
}

.flex-item8{
    display: flex;
    flex: 0 1 100px;
    width: 25px;
    height: 250px;
    border: 1px solid #ccc;
    padding: 50px;
    margin-top: 20px;
    text-align: center;
    background: url(img/tapa-9.jpg) no-repeat center / cover;

}

.flex-item9{
    display: flex;
    flex: 0 1 100px;
    width: 25px;
    height: 250px;
    border: 1px solid #ccc;
    padding: 50px;
    margin-top: 20px;
    text-align: center;
    background: url(img/tapa-10.jpg) no-repeat center / cover;
}