$font-family: "Open Sans", sans-serif;
$cabecera-color: #dddddd; 
$titulo-color: chocolate;
$subtitulo-color: dodgerblue;
$mensaje-background-color: #999;
$mensaje-color: #ffffff;
$contactanos-background-color: #000000;
$contactanos-color: #ffffff;
$contactanos-hover-background-color: orange;
$contactanos-hover-color: #000000;
$centrar-contenido: center;
$titulo-font-size: 28px;
$subtitulo-font-size: 25px;
$iconos-size: 26px;
$texto-desktop-font-size: 16px;
$texto-mobile-font-size: 14px;